<div class="container" *ngIf="currentUser && isHost; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>Add a room</strong>
    </h3>
  </header>

  <form>

    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" class="form-control" [(ngModel)]="room.title" name="title"
        required #title="ngModel">
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input id="country" class="form-control" [(ngModel)]="room.country" name="country"
        required #country="ngModel">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input id="city" class="form-control" [(ngModel)]="room.city" name="city">
    </div>

    <div class="form-group">
      <label for="area">Area</label>
      <input id="area" class="form-control" [(ngModel)]="room.area" name="area">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input required id="address" class="form-control" [(ngModel)]="room.address" name="address">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input required id="description" class="form-control" [(ngModel)]="room.description" name="description">
    </div>

    <div class="form-group">
      <label for="numBeds">Number of beds</label>
      <input required id="numBeds" class="form-control" [(ngModel)]="room.numBeds" name="numBeds">
    </div>

    <div class="form-group">
      <label for="pricePerDay">Price per day</label>
      <input required id="pricePerDay" class="form-control" [(ngModel)]="room.pricePerDay" name="pricePerDay">
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="invalidInput">
      Please, fill out all fields!
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success">
      You just added a room! Now go get one boi!
    </div>
    <button type="submit" class="btn btn-block btn-primary" (click)="save()">Submit</button>
  </form>

</div>

<ng-template #loggedOut>
  <p>
    You are not authorized to this action!
  </p>
</ng-template>
