<header class="jumbotron">
  <h3>
    <strong>My rooms</strong>
  </h3>
</header>

<div class="alert alert-success" role="alert" *ngIf="justAdded === 'true'">
  You just added a room!
</div>

<div class="alert alert-success" role="alert" *ngIf="justDeleted === 'true'">
  You just deleted a room!
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<table class="table table-sm">
  <tbody>
    <tr *ngFor="let room of fullCurrentUser.rooms">
      <td>
        <a routerLink="/room/{{room.id}}">
          <p>{{ room.title }}</p>
        </a>
      </td>
      <td>
        <a routerLink="/room/{{room.id}}/edit">
          <button type="button" class="btn btn-sm btn-primary" (click)="justAdded">Edit info</button>
        </a>
      </td>
      <td>
        <a routerLink="/room/{{room.id}}/add-photos">
          <button type="button" class="btn btn-sm btn-success">Add photos</button>
        </a>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteRoom(room)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
