<header class="jumbotron">
  <h3>
    <strong>Rooms</strong>
  </h3>
</header>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               (page)="pageEvent = $event">

</mat-paginator>

<div *ngIf="err" class="alert alert-warning alert-dismissible fade show" role="alert">
  <h3 class="text-center">Seems there are no available rooms...</h3>
</div>

<div  *ngIf="pageEvent">

    <mat-grid-list cols="2" rowHeight="2:1">
      <ng-container>
        <div *ngFor="let i of numbers">
            <mat-grid-tile *ngIf="getRoom(getPageIndex()*pageSize + i)">
                <a routerLink="/room/{{getRoom(getPageIndex()*pageSize + i).id}}">
                    {{ getRoom(getPageIndex()*pageSize + i).description }} with id {{ getRoom(getPageIndex()*pageSize + i).id }}
                </a>
            </mat-grid-tile>
        </div>
      </ng-container>
    </mat-grid-list>

</div>
