<div *ngIf="room; else noRoom" class="container">

  <header class="jumbotron">
    <h3>
      <strong>Room {{ room.id }}, {{ room.title }} details.</strong>
    </h3>
  </header>

  <p>
    <label><strong>Description: </strong></label><br>
    {{ room.description }}
  </p>

  <p>
    <label><strong>Country: </strong></label><br>
    {{ room.country }}
  </p>

  <p>
    <label><strong>City: </strong></label><br>
    {{ room.city }}
  </p>

  <p>
    <label><strong>Area: </strong></label><br>
    {{ room.area }}
  </p>

  <p>
    <label><strong>Address: </strong></label><br>
    {{ room.address }}
  </p>

  <p>
    <label><strong>Number of beds: </strong></label><br>
    {{ room.numBeds }}
  </p>

  <p>
    <label><strong>Price per day: </strong></label><br>
    {{ room.pricePerDay }}
  </p>

</div>

<ng-template #noRoom>
  <p>
    Invalid room number!
  </p>
</ng-template>
