<div class="container" *ngIf="currentUser && fullCurrentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control" [(ngModel)]="fullCurrentUser.name"/>
  </div>

  <!-- Surname -->
  <div class="form-group">
    <label for="surname">Name</label>
    <input id="surname" class="form-control" [(ngModel)]="fullCurrentUser.surname"/>
  </div>

  <!-- Email -->
  <div class="form-group">
    <label for="email">Name</label>
    <input id="email" class="form-control" [(ngModel)]="fullCurrentUser.email"/>
  </div>

  <!-- Phone -->
  <div class="form-group">
    <label for="phone">Name</label>
    <input id="phone" class="form-control" [(ngModel)]="fullCurrentUser.phone"/>
  </div>

  <br>
  <div class="alert alert-danger" *ngIf="invalidInput">
    Please, fill out all fields!
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    Success!
  </div>

  <button type="button" class="btn btn-block btn-primary" (click)="save()">Save</button>

  <br>

</div>

<ng-template #loggedOut>
  <p>
    Please login.
  </p>
</ng-template>
