<div class="container" *ngIf="currentUser && fullCurrentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <label><strong>Name: </strong></label><br>
     <input class="form-control" [(ngModel)]="fullCurrentUser.name"/>
  </p>
  <p>
    <label><strong>Surname: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.surname"/>
  </p>
  <p>
    <label><strong>Email: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.email"/>
  </p>
  <p>
    <label><strong>Phone: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.phone"/>
  </p>

  <div *ngIf="fullCurrentUser.rooms">
      <label><strong>Owner of: </strong></label><br>
      <ul class="list-group" *ngFor="let room of fullCurrentUser.rooms">
          <li class="list-group-item list-group-item-action">{{ room.id }}</li>
      </ul>
  </div>


  <br>
  <button type="button" class="btn btn-primary" (click)="save()">save</button>

</div>

<ng-template #loggedOut>
  <p>
    Please login.
  </p>
</ng-template>
