<div class="container" *ngIf="currentUser && fullCurrentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <label><strong>Name: </strong></label><br>
     <input class="form-control" [(ngModel)]="fullCurrentUser.name"/>
  </p>
  <p>
    <label><strong>Surname: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.surname"/>
  </p>
  <p>
    <label><strong>Email: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.email"/>
  </p>
  <p>
    <label><strong>Phone: </strong></label><br>
    <input class="form-control" [(ngModel)]="fullCurrentUser.phone"/>
  </p>

  <br>
  <div class="alert alert-danger" *ngIf="invalidInput">
    Please, fill out all fields!
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    Success!
  </div>
  <button type="button" class="btn btn-block btn-primary" (click)="save()">Save</button>

</div>

<ng-template #loggedOut>
  <p>
    Please login.
  </p>
</ng-template>
