<header class="jumbotron">
  <h3>
    <strong>Search</strong>
  </h3>
</header>

<form>
  <div class="form-group">
    <label for="Country">Country (required)</label>
    <input id="Country" class="form-control" [(ngModel)]="query.country" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="City">City</label>
    <input id="City" class="form-control" [(ngModel)]="query.city" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="Area">Area</label>
    <input id="Area" class="form-control" [(ngModel)]="query.area" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="NumPersons">Number of persons (required)</label>
    <input id="NumPersons" class="form-control" [(ngModel)]="query.numBeds" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="NumPersons">Date from YYYY-MM-DD (required)</label>
      <div class="input-group mb-3">
        <select class="custom-select" id="DateFrom" [(ngModel)]="dateFrom.year" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let y of years">{{ y }}</option>
        </select>
        <select class="custom-select" [(ngModel)]="dateFrom.month" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let m of months">{{ m }}</option>
        </select>
        <select class="custom-select" [(ngModel)]="dateFrom.day" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let d of days">{{ d }}</option>
        </select>
      </div>
  </div>

  <div class="form-group">
    <label for="NumPersons">Date To YYYY-MM-DD (required)</label>
    <div class="input-group mb-3">
      <select class="custom-select" id="DateFrom" [(ngModel)]="dateTo.year" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let y of years">{{ y }}</option>
      </select>
      <select class="custom-select" [(ngModel)]="dateTo.month" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let m of months">{{ m }}</option>
      </select>
      <select class="custom-select" [(ngModel)]="dateTo.day" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let d of days">{{ d }}</option>
      </select>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="invalidInput">
    Please, fill out all required fields appropriately!
  </div>

  <!-- Do search button -->
  <button class="btn btn-block btn-primary" type="submit" (click)="search()">Search</button>

  <br>

</form>
