<header class="jumbotron">
  <h3>
    <strong>Search</strong>
  </h3>
</header>

<div class="container">

  <!-- Country -->
  <div class="input-group mb-3">
    <input id="country" class="form-control mb-4" placeholder="Country (required)" [(ngModel)]="query.country">
  </div>

  <!-- City -->
  <div class="input-group mb-3">
    <input id="City" class="form-control mb-4" placeholder="City" [(ngModel)]="query.city">
  </div>

  <!-- Area -->
  <div class="input-group mb-3">
    <input id="Area" class="form-control mb-4" placeholder="Area" [(ngModel)]="query.area">
  </div>

  <!-- Number of Persons -->
  <div class="input-group mb-3">
    <input id="NumPersons" class="form-control mb-4" placeholder="Number of persons (required)" [(ngModel)]="query.numBeds">
  </div>

  <!-- Date From -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="DateFrom">From (YYYY-MM-DD) (required)</label>
    </div>
    <select class="custom-select" id="DateFrom" [(ngModel)]="dateFrom.year">
      <option *ngFor="let y of years">{{ y }}</option>
    </select>
    <select class="custom-select" [(ngModel)]="dateFrom.month">
      <option *ngFor="let m of months">{{ m }}</option>
    </select>
    <select class="custom-select" [(ngModel)]="dateFrom.day">
      <option *ngFor="let d of days">{{ d }}</option>
    </select>
  </div>

  <!-- Date To -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="DateTo">To &nbsp; &nbsp; &nbsp;(YYYY-MM-DD) (required)</label>
    </div>
    <select class="custom-select" id="DateTo" [(ngModel)]="dateTo.year">
      <option *ngFor="let y of years">{{ y }}</option>
    </select>
    <select class="custom-select" data-flip="false" [(ngModel)]="dateTo.month">
      <option *ngFor="let m of months">{{ m }}</option>
    </select>
    <select class="custom-select" [(ngModel)]="dateTo.day">
      <option *ngFor="let d of days">{{ d }}</option>
    </select>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="invalidInput">
    Please, fill out all required fields!
  </div>

    <!-- Do search button -->
  <button class="btn btn-block btn-primary" type="submit" (click)="search()">Search</button>

</div>
