<header class="jumbotron">
  <h3>
    <strong>Register</strong>
  </h3>
</header>

<div class="col-md-12">
  <div>

    <!-- Form -->
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>

      <!-- Name -->
      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          id="surname"
          type="text"
          class="form-control"
          name="surname"
          [(ngModel)]="form.surname"
          required
          #surname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && surname.invalid">
          <div *ngIf="surname.errors.required">Surname is required</div>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          id="phone"
          type="text"
          class="form-control"
          name="phone"
          [(ngModel)]="form.phone"
          required
          #phone="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && phone.invalid">
          <div *ngIf="phone.errors.required">Phone is required</div>
        </div>
      </div>

      <!-- Wants host -->
      <div class="form-check">
        <input
          id="host"
          type="checkbox"
          class="form-check-input"
          name="host"
          [(ngModel)]="wantsHost"
          #host="ngModel"
        />
        <label class="form-check-label" for="host">I want to get a host role</label>
      </div>

      <br>

      <!-- Submit -->
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <!-- Failure -->
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <!-- Success -->
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
